<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Bootstrap</title>
    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
<div class="container">
    <div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>日期</th>
                <th>销售量</th>
                <th>去年同期销售量</th>
                <th>同比</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2015/03/04</td>
                <td>560</td>
                <td>22</td>
                <td>0.65659898</td>
            </tr>
            <tr>
                <td>2015/03/05</td>
                <td>560</td>
                <td>22</td>
                <td>0.65659898</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- JavaScript 放置在文档最后面可以使页面加载速度更快 -->
<!-- 可选: 包含 jQuery 库 -->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="../js/jquery.min.js"></script>
<!-- 可选: 合并了 Bootstrap JavaScript 插件 -->
<script src="../js/bootstrap.min.js"></script>
</body>

</html>
			